<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <%- include ('partials/head.html')%>
</head>
<body>
    <%- include ('partials/navigation.html')%>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="/img/venom.png" alt="Venom" width="400" height="400">
            </div>
            <div class="p-5 col-lg-6 text-center">
                <p>El Servicio Nacional de Aprendizaje - SENA, es un establecimiento público del orden nacional, con
                    personería jurídica, patrimonio propio e independiente, y autonomía administrativa; Adscrito al
                    Ministerio del Trabajo de Colombia. Ofrece formación gratuita a millones de colombianos que se
                    benefician con programas técnicos, tecnológicos y complementarios que enfocados en el desarrollo
                    económico, tecnológico y social del país, entran a engrosar las actividades productivas de las empresas
                    y de la industria, para obtener mejor competitividad y producción con los mercados globalizados. </p>
            </div>
        </div>
    </div>
    <%- include ('partials/footer.html')%>

    
</body>
</html>